/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: "Clear Sans Web";
    font-weight: 200;
    src: url("../fonts/ClearSans-Light-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "Clear Sans Web";
    font-weight: 400;
    src: url("../fonts/ClearSans-Regular-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "Clear Sans Web";
    font-weight: 600;
    src: url("../fonts/ClearSans-Medium-webfont.woff") format("woff");
  }
  
  /*------------------------------------*\
  #GENERIC
  \*------------------------------------*/
  :root {
    --global-text-color-dark: black;
    --global-text-color-light: white;
    --global-background-color-header: #1ED5A9;
    
    --global-fontsize: 12px;
    --global-fontsize-lg: 16px;
    --global-fontsize-xl: 24px;
  
    --global-width-xsm: 10%;
    --global-width-sm: 25%;
    --global-width: 50%;
    --global-width-lg: 100%;
  
    --global-image-width:100px;
    --global-image-height:150px;
    --global-max-width:980px;
  
    --global-lineheight-sm: 8px;
    --global-lineheight: 16px;
    --global-lineheight-lg: 24px;
    --global-lineheight-xl: calc(var(--global-lineheight)*2);
    --global-lineheight-xxl: 48px;
  
    --global-backgroundcolor-neutral: white;
    --global-backgroundcolor-dark: #032541;
  
    --global-bordercolor-neutral: white;
    --global-bordercolor-dark: #032541;
  
    --global-margin: 0 0 24;
  
    --global-whitespace-xxxxsm: 4px;
    --global-whitespace-xxxsm: 5px;
    --global-whitespace-xxsm:calc(var(--global-whitespace-sm)/2);
    --global-whitespace-xsm:12px;
    --global-whitespace-sm: 16px;
    --global-whitespace-special:20px;
    --global-whitespace: 24px;
    --global-whitespace-lg: 48px;
    --global-whitespace-xl: 72px;
  
    --global-border: 1px;
  
    --global-border-radius-sm: 5px;
    --global-border-radius: 15px;
    --global-border-radius-lg: 25px;
  
  
        /* --global-whitespace-xl: calc(var(--global-whitespace)*2);
    --global-whitespace-xxl: calc(var(--global-whitespace)*3);
    --global-whitespace-xxxl: calc(var(--global-whitespace)*4); */
  }
  /*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
  */
  
  html {
    font-size: var(--global-fontsize);
    line-height: var(--global-lineheight);
    background-color:var(--html-background-color ,var(--global-backgroundcolor-neutral));
    font-family: "Clear Sans Web", Helvetica, arial, sans-serif;
    font-weight: 200;
    color: var(--html-color, var(--global-text-color-dark));
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  ::-moz-selection {
    background: #0053FB;
    color: white;
    text-shadow: none;
  }
  
  ::selection {
    background: #0053FB;
    color: white;
    text-shadow: none;
  }
  
  /*------------------------------------*\
  #Elements
  \*------------------------------------*/
  
  /*
    Elements: Images
    ---
    Default markup for images to make them responsive
  */
  
  img{
    /* height:var(--global-image-height);
    width: var(--global-image-width); */
    height: 250px;
    widows: 150px;
    border-radius: var(--global-border-radius);
   
  }
  
  /*
    Elements: typography
    ---
    Default markup for typographic elements
  */
  
  h1,
  h2,
  h3 {
    font-weight: 400;
  }
  
  h1 {
    font-size: var(--global-fontsize-lg);
    line-height: var(--global-lineheight-lg);
    margin: var(--global-margin);
    font-weight: 400;
    padding-bottom:var(--global-fontsize-xsm);
  }
  
  p{
    margin-bottom: var(--global-whitespace-xxxxsm);
  }
  
  p,
  ol,
  ul,
  dl,
  table,
  address,
  figure {
    margin: var(--global-margin);
  }
  
  p{
    
    font-weight: 200;
    margin-bottom: var(--global-whitespace-xxxxsm);
  }
  
  ul,
  ol {
    padding-left: var(--global-whitespace);
  }
  
  li ul,
  li ol {
    margin-bottom: 0;
  }
  
  hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: var(--global-margin);
  }
  
  /*------------------------------------*\
  #OBJECTS
  \*------------------------------------*/
  
  /*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
  */
  
  .o-row {
    display: flow-root;                   /* New solution! Fixes margin collapsing */
    position: relative;
    padding: 24px 24px 0;
  }
  
  .o-row__header {
    margin-top:var(--global-whitespace-sm);
    padding-top: 0px;
    padding-bottom: var(--global-whitespace);
  }
  
  
  /* size modifiers */
  
  
  .o-row--lg {
    padding: var(--global-whitespace-lg) var(--global-whitespace) var(--global-whitespace);
  }
  .o-row__header {
    margin-top:var(--global-whitespace-sm);
    padding-top: 0px;
  }
  
  /* color modifiers */
  
  .o-row--neutral-xxxx-light {
    background-color: var(--global-backgroundcolor-neutral);
  }
  
  @media (min-width: 768px) {
    .o-row {
        padding-left: var(--global-whitespace-lg);
        padding-right: var(--global-whitespace-lg);
    }
  
    .o-row--md {
        padding-top: var(--global-whitespace-lg);
        padding-bottom: var(--global-whitespace);
    }
  
    .o-row--lg {
        padding-top: var(--global-whitespace-xl);
        padding-bottom: var(--global-whitespace-lg);
    }
  }
  
  /*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
  */
  
  .o-container { 
    margin-left: auto;  /*margin left en right auto --> gecentreerd*/
    margin-right: auto; 
    max-width: 71em;    /* 71 * 18(font html)px = 1278px */
  }

  
  /*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
  */
  
  .o-section {
    /* overflow-x: hidden; */
    position: relative;
    display: flow-root; /* New solution! Fixes margin collapsing */
  }
  
  .o-section + .o-section {
    padding-top: var(--global-whitespace);
  }
  
  @media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-lg);
    }
  }
  
  @media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xl);
    }
  }
  
  /*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
  */
  
  .o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  
    .o-layout__item {
        flex-basis: 100%;
    }
  
  /* gutter modifiers, these affect o-layout__item too */
  
  .o-layout--gutter {
    margin: 0 -12px;
  }
  
  .o-layout--gutter > .o-layout__item {
    padding: 0 12px;
  }
  
  .o-layout--gutter-sm {
    margin: 0 -6px;
  }
  
  .o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
  }
  
  .o-layout--gutter-lg {
    margin: 0 -24px;
  }
  
  .o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
  }
  
  /* reverse horizontal row modifier */
  
  .o-layout--row-reverse {
    flex-direction: row-reverse;
  }
  
  /* Horizontal alignment modifiers*/
  
  .o-layout--justify-start {
    justify-content: flex-start;
  }
  
  .o-layout--justify-end {
    justify-content: flex-end;
  }
  
  .o-layout--justify-center {
    justify-content: center;
  }
  
  .o-layout--justify-space-around {
    justify-content: space-around;
  }
  
  .o-layout--justify-space-evenly {
    justify-content: space-evenly;
  }
  
  .o-layout--justify-space-between {
    justify-content: space-between;
  }
  
  /* Vertical alignment modifiers */
  
  .o-layout--align-start {
    align-items: flex-start;
  }
  
  .o-layout--align-end {
    align-items: flex-end;
  }
  
  .o-layout--align-center {
    align-items: center;
  }
  
  .o-layout--align-baseline {
    align-items: baseline;
  }
  
  /* Vertical alignment modifiers that only work if there is one than one flex item */
  
  .o-layout--align-content-start {
    align-content: start;
  }
  
  .o-layout--align-content-end {
    align-content: end;
  }
  
  .o-layout--align-content-center {
    align-content: center;
  }
  
  .o-layout--align-content-space-around {
    align-content: space-around;
  }
  
  .o-layout--align-content-space-between {
    align-content: space-between;
  }
  
  /*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
  */
  
  .o-list {
    list-style: none;
    padding: 0;
  }
  
  /*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/
  
   /*
    Component: overlay
    ---
    overlay of the website
  */

  /*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/
  /*
    Component: c-component-dashboard
    ---
    Website main logo
  */
  
  /*
    Component: header
    ---
    Main header of the website
  */
  .c-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--global-image-height);
  }
  
  .c-header-balk{
    display: flex;
    border-radius: var(--global-border-radius-lg);
    background-color:var(--global-background-color-header);
    width: var(--global-width-sm);
    height: var(--global-width-sm);
    justify-content: center;
    align-items: center;
  }
  
  .c-header-text{
    display: block;
    color: var(--global-text-color-light);
    font-size: var(--global-fontsize-xl);
    padding-bottom: 0;
  
  }
  
  @media (min-width: 992px) {
    .c-header-balk{
        width: var(--global-width-sm)
    }


  }

 .c-tab{
      background-color: red;
      width: 100%;
      height: 600px;
      border-radius: 25px;
 }

 .c-upper{
  height: 300px;
  display: flex;
 }

.c-lower{
  height: 300px;
 }

.c-image{
  display: flex;
  justify-content: flex-start;
  margin: 32px;
}

.c-main-info{
  display: flex;
  width: 100%;
  margin: 32 32 32 0;
  flex-direction: column;
  align-items: baseline;
}

.c-main-info__textarea{
  width: 100%;
  margin-bottom:16px;
}

.c-main-info__textarea:nth-child(1){
  width: 100%;
  margin: 0 0 32 0;
}

.c-main-info__textarea:nth-child(2){
  width: 100%;
  margin: 32 0 32 0;
}

.c-main-info__textarea:nth-child(3){
  width: 100%;
  margin: 32 0 32 0;
}

.c-main-info__text
{
  display: inline;
  font-size:24px;
  line-height: 24px;
  margin: 8px;
}

.c-main-info__text-js
{
  display: inline;
  font-size:16px;
  line-height: 24px;
  margin: 8 8 8 0;
}

.c-info-details
{
  margin: 16px;
    
}

.c-info-details__textarea{
  width: 100%;
  margin-bottom:16px;
}

.c-info-details__text
{
  display: inline;
  font-size:24px;
  line-height: 24px;
  margin: 16 4 16 16;
}

.c-info-details__text-js
{
  display: inline;
  font-size:16px;
  line-height: 24px;
}

.c-display--block{
  display:block;
  margin: 8 0 0 16;
}

.c-cross{
  width: 100%;
  display:flex;
  justify-content: flex-end;
  margin:32px;
}

.c-close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.c-close:hover {
  opacity: 1;
}

.c-close:before, .c-close:after {
  position: absolute;
  content: ' ';
  height: 32px;
  width: 2px;
  background-color: #333;
}

.c-close:before {
  transform: rotate(45deg);
}

.c-close:after {
  transform: rotate(-45deg);
}

.c-arrow {
    border: solid var(--c-arrow-bordercolor, var(--global-bordercolor-dark));
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: var(--global-whitespace-xxxxsm);
}
  
  .c-arrow:hover{
    cursor: pointer;
  }
  
 .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
 }
  
  @media (prefers-color-scheme: dark) {
    html {
        --html-background-color: var(--global-backgroundcolor-dark);
        --html-color: var(--global-text-color-light);
    }
    .c-arrow{
      --c-arrow-bordercolor:var(--global-bordercolor-neutral);
    }
  
  }

  /* .c-main-info__text:nth-child(1)
{
    font-size:16px;
    line-height: 24px;
    margin: 0 0 32 8;
}

.c-main-info__text:nth-child(2)
{
  font-size:16px;
  line-height: 24px;
  margin: 32 0 32 8;
}

.c-main-info__text:nth-child(3)
{
  font-size:16px;
  line-height: 24px;
  margin: 32 0 32 8;
} */
  
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  .wrapper {
    max-width: var(--global-max-width);
    margin: 0 var(--global-whitespace-special);
    display: grid;
    grid-gap: 10px;
  }
  
  /* no grid support? */
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px,auto);
  }
  
  .panel {
    /* needed for the flex layout*/
    margin-left: var(--global-whitespace-xxxsm);
    margin-right: var(--global-whitespace-xxxsm);
    flex: 1 1 150px;
  }
  
  .wrapper > * {
    background-color: #444;
    border-radius: var(--global-border-radius-sm);;
    padding: var(--global-whitespace-special);
  
    margin-bottom: var(--global-whitespace-xsm);
  }
  
  .c-details{
    padding-top:var(--global-whitespace-sm);
    
  }
  
  /* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
  
  @supports (display: grid) {
    .wrapper > * {
      margin: 0;
    }
  }
  /*------------------------------------*\
  #UTILITIES
  \*------------------------------------*/
  
  
  /*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
  */
  
  .u-pt-clear {
    padding-top: 0 !important;
  }
  
  .u-mb-clear {
    margin-bottom: 0 !important;
  }
  
  .u-mb-xs {
    margin-bottom: calc(var(--global-whitespace-xxsm)/2) !important;
  }
  
  .u-mb-sm {
    margin-bottom: var(--global-whitespace-xxsm) !important;
  }
  
  .u-mb-md {
    margin-bottom: var(--global-whitespace-sm) !important;
  }
  
  .u-mb-lg {
    margin-bottom: calc(var(--global-whitespace-sm)*2) !important;
  }
  
  .u-mb-xl {
    margin-bottom: var(--global-whitespace-lg) !important;
  }
  
  /*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
  */
  
  .u-max-width-xs {
    max-width: 18em !important;
  }
  
  .u-max-width-sm {
    max-width: 32em !important;
  }
  
  .u-max-width-md {
    max-width: 42em !important;
  }
  
  .u-max-width-lg {
    max-width: 60em !important;
  }
  
  .u-max-width-xl {
    max-width: 70em !important;
  }
  
  .u-max-width-none {
    max-width: none !important;
  }
  
  /*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
  */
  
  .u-flex-basis-auto {
    flex-basis: auto !important;
  }
  
  .u-flex-grow-1 {
    flex-grow: 1 !important;
  }
  
  .u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
  }
  
  .u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
  }
  
  .u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  
  .u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
  }
  
  .u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  
  .u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
  }
  
  .u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  
  .u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  
  .u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  
  .u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
  }
  
  .u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
  
  @media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
  }
  
  @media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
  }
  
  @media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
  }
  
  @media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
  }
  
  /*------------------------------------*\
  #MEDIA
  \*------------------------------------*/
  
  /*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
  */
  
  /* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
  */
  
  /* Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {}
  */
  
  /* Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {}
  */
  
  /* Large devices (landscape tablets, desktops, 992px and up)
  @media (min-width: 992px) {}
  */
  
  /* Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}
  */
  
  /*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
  */
  
  @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
  }
  
  